{% extends 'template.html' %}
{% load widget_tweaks %}


{% block content %}
  <div class="container">
  <h2>Add Coin</h2>
  <form method="post">
    {% csrf_token %}

    <p></p><label>Name:</label>
     <div class="form-group">
    <select name="coinName">
    {%for coin in listOfCoins%}
      <option class="form-control" value="{{coin}}">{{coin}}</option>
    {% endfor %}
    </select>
       </div>


    {% for field in form %}
     <div class="form-group">
        {{ field.label_tag }}<br>
        {{ field |add_class:"form-control"}}
      </div>
    {% endfor %}

    <button class="btn btn-primary" type="submit">Add Coin</button>
  </form>
    </div>
{% endblock %}

